#header {
  width: 100%;
  height: 56px;
  background-color: #212121;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 16px;

  position: fixed;
  top: 0;
  left: 0;
}

.header_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header_menu {
  background-color: transparent;
  border: none;
}

.header_menu i {
  color: white;
  font-size: 20px;
}

.header_menu i:hover {
  cursor: pointer;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  color: white;
  text-decoration: none;
}

.header_logo img {
  width: 35px;
}

.header_logo span {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 0;
}

#header_search {
  display: grid;
  grid-template-columns: 1fr 45px;
  gap: 10px;
  width: 40%;
  height: 40px;
}

#header_search > button {
  width: 40px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  padding: 0;
}

#header_search > button:hover {
  background-color: #0a0909;
  cursor: pointer;
}

.header_search_form {
  display: grid;
  grid-template-columns: 1fr 60px;
}

.header_search_form input {
  background-color: #121212;
  border: none;
  padding: 10px;
  font-size: 15px;
  color: white;
  font-weight: 300;
  margin-right: 1px;
}

.header_search_form input:focus {
  outline: none;
  outline: 1px solid lightblue;
}

.header_search_form button {
  background-color: #313131;
  border: none;
  color: white;
  font-size: 16px;
}

.header_search_form button:hover {
  cursor: pointer;
}

#header_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#header_right a {
  font-size: 20px;
  color: white;
}

#header_right button {
  width: 100px;
  height: 40px;
  background-color: transparent;
  color: skyblue;
  border: none;
  border: 1px solid skyblue;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#header_right button i {
  font-size: 20px;
}

#header_right button span {
  font-size: 14px;
  letter-spacing: 1px;
}

#header_right button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #header_search {
    display: none;
  }
}
